.kawa-top-header
-#   = render "shared/header"
%nav.kawa-second-header
  %ul.kawa-second-header__box
%nav.kawa-second-header
%ul.pankuzu
  - breadcrumb :profiles, class: "pankuzu"
  = breadcrumbs separator: " &rsaquo; "
.kawa-wrapper#kawa-background
  .kawa-container.kawa-clearfix
    = render "shared/side-bar"
    .kawa-right-content
      .kawa-right-content__main-box
        = render "shared/profile_form"
.kawa-toppage-footer__image
  -# = image_tag 'mercari__footer.jpg', class: 'footer__image__pic', height: '260', width: '100%'
-# .last-footer
-#   = render "shared/footer"