.haya-header
  .haya-header__logo
    = link_to image_tag("user-header-logo"),"#"
.haya-sinki-main
  .haya-sinki-main__1
    .haya-sinki-main__1__2
      新規会員登録
    .haya-sns-field
      .haya-sns-field__1
        %a.haya-sns-field__1__email{:href => "/signup/step1"}
          %i.fa.fa-envelope-o
          メールアドレスで登録する
        %a.haya-sns-field__1__face
          .haya-sns-field__1__face__2
            = fa_icon "facebook-square"
            Facebookで登録する
        %a.haya-sns-field__1__gmail
          .haya-sns-field__1__gmail__2
            =fa_icon "google"
            Googleで登録する
= render "shared/signup-footer"