.ichi__exhibit
  .ichi__exhibit__own
    .ichi__exhibit__own__title
      メンターキチろう
    .ichi__exhibit__own__item
      .ichi__exhibit__own__item__images
        .ichi__exhibit__own__item__images__top
          =image_tag src=""
        .ichi__exhibit__own__item__images__others
          .ichi__exhibit__own__item__images__others__image
            =image_tag src="", class: "ichi__exhibit__images"
          .ichi__exhibit__own__item__images__others__image
          .ichi__exhibit__own__item__images__others__image
          .ichi__exhibit__own__item__images__others__image
          .ichi__exhibit__own__item__images__others__image
          .ichi__exhibit__own__item__images__others__image
          .ichi__exhibit__own__item__images__others__image
          .ichi__exhibit__own__item__images__others__image
          .ichi__exhibit__own__item__images__others__image
          .ichi__exhibit__own__item__images__others__image
      .ichi__exhibit__own__item__description
        .ichi__exhibit__own__item__description__text
          .ichi__exhibit__own__item__description__text__left
            出品者
          .ichi__exhibit__own__item__description__text__right
            .ichi__exhibit__own__item__description__text__right__name
              まさき
            .ichi__exhibit__own__item__description__text__right__evaluation
              .ichi__exhibit__own__item__description__text__right__evaluation__icon
                = fa_icon 'thumbs-up', class: "ichi__evaluation__icon"
              .ichi__exhibit__own__item__description__text__right__evaluation__point
                100 
              .ichi__exhibit__own__item__description__text__right__evaluation__icon
                = fa_icon 'thumbs-up', class: "ichi__evaluation__icon"
              .ichi__exhibit__own__item__description__text__right__evaluation__point
                100
              .ichi__exhibit__own__item__description__text__right__evaluation__icon
                = fa_icon 'thumbs-up', class: "ichi__evaluation__icon"
              .ichi__exhibit__own__item__description__text__right__evaluation__lastpoint
                100
        .ichi__exhibit__own__item__description__text
          .ichi__exhibit__own__item__description__text__left
            カテゴリー
          .ichi__exhibit__own__item__description__text__right
            .ichi__exhibit__own__item__description__text__right__category
              レディース
            .ichi__exhibit__own__item__description__text__right__category
              靴
            .ichi__exhibit__own__item__description__text__right__category
              サンダル
        .ichi__exhibit__own__item__description__text
          .ichi__exhibit__own__item__description__text__left
            ブランド
          .ichi__exhibit__own__item__description__text__right
            かとう
        .ichi__exhibit__own__item__description__text
          .ichi__exhibit__own__item__description__text__left
            商品のサイズ
          .ichi__exhibit__own__item__description__text__right
            フリーサイズ
        .ichi__exhibit__own__item__description__text
          .ichi__exhibit__own__item__description__text__left
            商品の状態
          .ichi__exhibit__own__item__description__text__right
            新品
        .ichi__exhibit__own__item__description__text
          .ichi__exhibit__own__item__description__text__left
            配送料の負担
          .ichi__exhibit__own__item__description__text__right
            出品者
        .ichi__exhibit__own__item__description__text
          .ichi__exhibit__own__item__description__text__left
            配送の方法
          .ichi__exhibit__own__item__description__text__right
            楽々メルカリ便
        .ichi__exhibit__own__item__description__text
          .ichi__exhibit__own__item__description__text__left
            配送元地域
          .ichi__exhibit__own__item__description__text__right
            愛知県
        .ichi__exhibit__own__item__description__text
          .ichi__exhibit__own__item__description__text__left
            発送日の目安
          .ichi__exhibit__own__item__description__text__right
            いつでもOK
    .ichi__exhibit__own__price
      .ichi__exhibit__own__price__left
        ¥38,000
      .ichi__exhibit__own__price__center
        （税込）
      .ichi__exhibit__own__price__right
        送料込み
    .ichi__exhibit__own__purchase
      購入画面に進む
    .ichi__exhibit__own__text
      ISSEY MIYAKE  
      大人気、meの折り紙バックです。<br><br>
      定価¥38,000。<br><br>
      新品未使用です。<br><br>
      商品の管理チェック等、万全の注意を払って行っておりますが<br>
      素人検品・採寸、自宅保管であることをご了承戴きまして<br>
      お取引していただけよう、宜しくお願い致します★
    .ichi__exhibit__own__contents
      .ichi__exhibit__own__contents__left
        .ichi__exhibit__own__contents__left__evaluation
          .ichi__exhibit__own__contents__left__evaluation__icon
            =fa_icon 'heart'
          .ichi__exhibit__own__contents__left__evaluation__good
            いいね!
          .ichi__exhibit__own__contents__left__evaluation__point
            150
        .ichi__exhibit__own__contents__left__report
          .ichi__exhibit__own__contents__left__report__icon
            =fa_icon 'flag'
          .ichi__exhibit__own__contents__left__report__text
            不適切な商品の報告
      .ichi__exhibit__own__contents__right
        .ichi__exhibit__own__contents__right__icon
          =fa_icon 'lock'
        .ichi__exhibit__own__contents__right__text
          あんしん・あんぜんへの取り組み

  .ichi__exhibit__two
    .ichi__exhibit__two__text
      相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
    .ichi__exhibit__two__input
      %textarea{type: "text", name: "message", class: "ichi__exhibit__message"}
    .ichi__exhibit__two__submit
      %button{type: "submit", class: "ichi__exhibit__submit"}
        コメントする
  .ichi__exhibit__three
    .ichi__exhibit__three__left
      .ichi__exhibit__three__left__icon
        =fa_icon 'chevron-left'
      .ichi__exhibit__three__left__item
        テストアイテム①
    .ichi__exhibit__three__right
      .ichi__exhibit__three__right__item
        テストアイテム②
      .ichi__exhibit__three__right__icon
        =fa_icon 'chevron-right'
  .ichi__exhibit__four
    .ichi__exhibit__four__image
      =fa_icon 'facebook-square',class: "ichi__exhibit__icon__facebook"
    .ichi__exhibit__four__image
      =fa_icon 'twitter-square',class: "ichi__exhibit__four__icon__twitter"
    .ichi__exhibit__four__image
      =fa_icon 'pinterest-square',class: "ichi__exhibit__four__icon__pinterest"
  .ichi__exhibit__five
    .ichi__exhibit__five__name
      加藤さんのその他の出品
    .ichi__exhibit__five__items
      .ichi__exhibit__five__items__item
        .ichi__exhibit__five__items__item__image
          =image_tag src="", class: "ichi__exhibit__five__image"
        .ichi__exhibit__five__items__item__text
          .ichi__exhibit__five__items__item__text__top
            加藤君
          .ichi__exhibit__five__items__item__text__bottom
            .ichi__exhibit__five__items__item__text__bottom__left
              ¥38,000
            .ichi__exhibit__five__items__item__text__bottom__right
              .ichi__exhibit__five__items__item__text__bottom__right__icon
                =fa_icon 'heart'
              .ichi__exhibit__five__items__item__text__bottom__right__point
                100
      .ichi__exhibit__five__items__item
      .ichi__exhibit__five__items__item
      .ichi__exhibit__five__items__item
      .ichi__exhibit__five__items__item
      .ichi__exhibit__five__items__item
  
  .ichi__exhibit__five
    .ichi__exhibit__five__name
      加藤さんのブランド
    .ichi__exhibit__five__items
      .ichi__exhibit__five__items__item
        .ichi__exhibit__five__items__item__image
          =image_tag src="", class: "ichi__exhibit__five__image"
        .ichi__exhibit__five__items__item__text
          .ichi__exhibit__five__items__item__text__top
            加藤君
          .ichi__exhibit__five__items__item__text__bottom
            .ichi__exhibit__five__items__item__text__bottom__left
              ¥38,000
            .ichi__exhibit__five__items__item__text__bottom__right
              .ichi__exhibit__five__items__item__text__bottom__right__icon
                =fa_icon 'heart'
              .ichi__exhibit__five__items__item__text__bottom__right__point
                100
      .ichi__exhibit__five__items__item
      .ichi__exhibit__five__items__item
      .ichi__exhibit__five__items__item
      .ichi__exhibit__five__items__item
      .ichi__exhibit__five__items__item
  
  .ichi__exhibit__six
    .ichi__exhibit__six__box
      .ichi__exhibit__six__box__mercari
        メルカリ
      .ichi__exhibit__six__box__icon
        =fa_icon 'chevron-right', class: "ichi__exhibit__six__icon"
      .ichi__exhibit__six__box__item
        テストテスト

