.ichi__exhibit
  .ichi__exhibit__own
    .ichi__exhibit__own__title
      メンターキチろう
    .ichi__exhibit__own__item
      .ichi__exhibit__own__item__images
        .ichi__exhibit__own__item__images__top
          =image_tag src="https://qiita-user-profile-images.imgix.net/https%3A%2F%2Fqiita-image-store.s3.ap-northeast-1.amazonaws.com%2F0%2F412630%2Fprofile-images%2F1557302812?ixlib=rb-1.2.2&auto=compress%2Cformat&lossless=0&w=300&s=e2af3ffe6d99885ae5bf5bcfdfe71925"
        .ichi__exhibit__own__item__images__others
          .ichi__exhibit__own__item__images__others__image
            =image_tag src="https://qiita-user-profile-images.imgix.net/https%3A%2F%2Fqiita-image-store.s3.ap-northeast-1.amazonaws.com%2F0%2F412630%2Fprofile-images%2F1557302812?ixlib=rb-1.2.2&auto=compress%2Cformat&lossless=0&w=300&s=e2af3ffe6d99885ae5bf5bcfdfe71925", class: "ichi__exhibit__images"
          .ichi__exhibit__own__item__images__others__image
          .ichi__exhibit__own__item__images__others__image
          .ichi__exhibit__own__item__images__others__image
          .ichi__exhibit__own__item__images__others__image
          .ichi__exhibit__own__item__images__others__image
          .ichi__exhibit__own__item__images__others__image
          .ichi__exhibit__own__item__images__others__image
          .ichi__exhibit__own__item__images__others__image
          .ichi__exhibit__own__item__images__others__image
      .ichi__exhibit__own__item__description
        .ichi__exhibit__own__item__description__text
          .ichi__exhibit__own__item__description__text__left
            出品者
          .ichi__exhibit__own__item__description__text__right
            .ichi__exhibit__own__item__description__text__right__name
              まさき君
            .ichi__exhibit__own__item__description__text__right__evaluation
              .ichi__exhibit__own__item__description__text__right__evaluation__icon
                = fa_icon 'thumbs-up', class: "ichi__evaluation__icon"
              .ichi__exhibit__own__item__description__text__right__evaluation__point
                100 
              .ichi__exhibit__own__item__description__text__right__evaluation__icon
                = fa_icon 'thumbs-up', class: "ichi__evaluation__icon"
              .ichi__exhibit__own__item__description__text__right__evaluation__point
                100
              .ichi__exhibit__own__item__description__text__right__evaluation__icon
                = fa_icon 'thumbs-up', class: "ichi__evaluation__icon"
              .ichi__exhibit__own__item__description__text__right__evaluation__lastpoint
                100
        .ichi__exhibit__own__item__description__text
          .ichi__exhibit__own__item__description__text__left
            カテゴリー
          .ichi__exhibit__own__item__description__text__right
            .ichi__exhibit__own__item__description__text__right__category
              レディース
            .ichi__exhibit__own__item__description__text__right__category
              靴
            .ichi__exhibit__own__item__description__text__right__category
              サンダル
        .ichi__exhibit__own__item__description__text
          .ichi__exhibit__own__item__description__text__left
            ブランド
          .ichi__exhibit__own__item__description__text__right
            かとう
        .ichi__exhibit__own__item__description__text
          .ichi__exhibit__own__item__description__text__left
            商品のサイズ
          .ichi__exhibit__own__item__description__text__right
            171cm
        .ichi__exhibit__own__item__description__text
          .ichi__exhibit__own__item__description__text__left
            商品の状態
          .ichi__exhibit__own__item__description__text__right
            キズあり
        .ichi__exhibit__own__item__description__text
          .ichi__exhibit__own__item__description__text__left
            配送料の負担
          .ichi__exhibit__own__item__description__text__right
            キチろう
        .ichi__exhibit__own__item__description__text
          .ichi__exhibit__own__item__description__text__left
            配送の方法
          .ichi__exhibit__own__item__description__text__right
            自走
        .ichi__exhibit__own__item__description__text
          .ichi__exhibit__own__item__description__text__left
            配送元地域
          .ichi__exhibit__own__item__description__text__right
            愛知県
        .ichi__exhibit__own__item__description__text
          .ichi__exhibit__own__item__description__text__left
            発送日の目安
          .ichi__exhibit__own__item__description__text__right
            いつでもOK
    .ichi__exhibit__own__price
      .ichi__exhibit__own__price__left
        ¥38,000
      .ichi__exhibit__own__price__center
        （税込）
      .ichi__exhibit__own__price__right
        送料込み
    .ichi__exhibit__own__purchase
      購入画面に進む
    .ichi__exhibit__own__text
      ISSEY MIYAKE  
      大人気、meの折り紙バックです。<br><br>
      定価¥38,000。<br><br>
      新品未使用です。<br><br>
      商品の管理チェック等、万全の注意を払って行っておりますが<br>
      素人検品・採寸、自宅保管であることをご了承戴きまして<br>
      お取引していただけよう、宜しくお願い致します★
    .ichi__exhibit__own__contents
      .ichi__exhibit__own__contents__left
        .ichi__exhibit__own__contents__left__evaluation
          .ichi__exhibit__own__contents__left__evaluation__icon
            =fa_icon 'heart'
          .ichi__exhibit__own__contents__left__evaluation__good
            いいね!
          .ichi__exhibit__own__contents__left__evaluation__point
            150
        .ichi__exhibit__own__contents__left__report
          .ichi__exhibit__own__contents__left__report__icon
            =fa_icon 'flag'
          .ichi__exhibit__own__contents__left__report__text
            不適切な商品の報告
      .ichi__exhibit__own__contents__right
        .ichi__exhibit__own__contents__right__icon
          =fa_icon 'lock'
        .ichi__exhibit__own__contents__right__text
          あんしん・あんぜんへの取り組み

  .ichi__exhibit__two
    .ichi__exhibit__two__text
      相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
    .ichi__exhibit__two__input
      %textarea{type: "text", name: "message", class: "ichi__exhibit__message"}
    .ichi__exhibit__two__submit
      %button{type: "submit", class: "ichi__exhibit__submit"}
        コメントする
  .ichi__exhibit__three
    .ichi__exhibit__three__left

    .ichi__exhibit__three__right

  .ichi__exhibit__four
  .ichi__exhibit__five

