.ichi__main__four
  .ichi__main__four__box
    .ichi__main__four__box__top
      スマホで簡単フリマアプリ
    .ichi__main__four__box__center
      今すぐ無料ダウンロード！
    .ichi__main__four__box__bottom
      .ichi__main__four__box__bottom__mercari
        =image_tag src="mercari_icon.png", class: "ichi__mecari__image"
      .ichi__main__four__box__bottom__apple
        =image_tag src="app-store-logo.svg", class: "ichi__apple__image"
      .ichi__main__four__box__bottom__google
        =image_tag src="google-logo.svg", class: "ichi__google__image"
  .ichi__main__four__iphon
    =image_tag src="iphone_app_image.png", class: "ichi__iphon__image"
