.ichi__main__four
  .ichi__main__four__box
    .ichi__main__four__box__top
      スマホで簡単フリマアプリ
    .ichi__main__four__box__center
      今すぐ無料ダウンロード！
    .ichi__main__four__box__bottom
      .ichi__main__four__box__bottom__mercari
        =image_tag src="https://web-jp-assets.mercdn.net/_next/static/images/mercari_icon-f75780e32e41e052c8aaa8b446331cd8.png", class: "ichi__mecari__image"
      .ichi__main__four__box__bottom__apple
        =image_tag src="https://web-jp-assets.mercdn.net/_next/static/images/app-store-a5c17948c6fd6d5b60b13d421cd60b35.svg", class: "ichi__apple__image"
      .ichi__main__four__box__bottom__google
        =image_tag src="https://web-jp-assets.mercdn.net/_next/static/images/google-play-495575abb895b405aa6336b2a4304958.svg", class: "ichi__google__image"
  .ichi__main__four__iphon
    =image_tag src="https://web-jp-assets.mercdn.net/_next/static/images/download_app_pc-a4418175e8be071827ac88d073f40e4a.png", class: "ichi__iphon__image"
