.ichi__main
  .ichi__main__own
    
  .ichi__main__two
    .ichi__main__two__category
      人気のカテゴリー
    .ichi__main__two__categorys
      .ichi__main__two__categorys__list
        レディース
      .ichi__main__two__categorys__list
        メンズ
      .ichi__main__two__categorys__list
        家電・スマホ・カメラ
      .ichi__main__two__categorys__list
        おもちゃ・ホビー・グッズ
  .ichi__main__three
    .ichi__main__three__box
      .ichi__main__three__box__top
        .ichi__main__three__box__top__title
          レディース新着アイテム
        .ichi__main__three__box__top__more
          もっと見る　＞
      .ichi__main__three__box__items
        .ichi__main__three__box__items__item
          .ichi__main__three__box__items__item__image
            =image_tag src="https://qiita-user-profile-images.imgix.net/https%3A%2F%2Fqiita-image-store.s3.ap-northeast-1.amazonaws.com%2F0%2F412630%2Fprofile-images%2F1557302812?ixlib=rb-1.2.2&auto=compress%2Cformat&lossless=0&w=300&s=e2af3ffe6d99885ae5bf5bcfdfe71925", class: "ichi__item__image"
          .ichi__main__three__box__items__item__price
            ¥38,000
          .ichi__main__three__box__items__item__text
            キチろう【中古品再出品】1993年生まれの26歳、バリバリ名古屋弁を操ります。
        .ichi__main__three__box__items__item
        .ichi__main__three__box__items__item
        .ichi__main__three__box__items__item
        .ichi__main__three__box__items__item
      .ichi__main__three__box__items
        .ichi__main__three__box__items__item
        .ichi__main__three__box__items__item
        .ichi__main__three__box__items__item
        .ichi__main__three__box__items__item
        .ichi__main__three__box__items__item
    .ichi__main__three__box
      .ichi__main__three__box__top
        .ichi__main__three__box__top__title
          メンズ新着アイテム
        .ichi__main__three__box__top__more
          もっと見る　＞
      .ichi__main__three__box__items
        .ichi__main__three__box__items__item
        .ichi__main__three__box__items__item
        .ichi__main__three__box__items__item
        .ichi__main__three__box__items__item
        .ichi__main__three__box__items__item
      .ichi__main__three__box__items
        .ichi__main__three__box__items__item
        .ichi__main__three__box__items__item
        .ichi__main__three__box__items__item
        .ichi__main__three__box__items__item
        .ichi__main__three__box__items__item
    .ichi__main__three__box
      .ichi__main__three__box__top
        .ichi__main__three__box__top__title
          家電・スマホ・カメラ新着アイテム
        .ichi__main__three__box__top__more
          もっと見る　＞
      .ichi__main__three__box__items
        .ichi__main__three__box__items__item
        .ichi__main__three__box__items__item
        .ichi__main__three__box__items__item
        .ichi__main__three__box__items__item
        .ichi__main__three__box__items__item
      .ichi__main__three__box__items
        .ichi__main__three__box__items__item
        .ichi__main__three__box__items__item
        .ichi__main__three__box__items__item
        .ichi__main__three__box__items__item
        .ichi__main__three__box__items__item
    .ichi__main__three__box
      .ichi__main__three__box__top
        .ichi__main__three__box__top__title
          おもちゃ・ホビー・グッズ新着アイテム
        .ichi__main__three__box__top__more
          もっと見る　＞
      .ichi__main__three__box__items
        .ichi__main__three__box__items__item
        .ichi__main__three__box__items__item
        .ichi__main__three__box__items__item
        .ichi__main__three__box__items__item
        .ichi__main__three__box__items__item
      .ichi__main__three__box__items
        .ichi__main__three__box__items__item
        .ichi__main__three__box__items__item
        .ichi__main__three__box__items__item
        .ichi__main__three__box__items__item
        .ichi__main__three__box__items__item

  .ichi__main__two
    .ichi__main__two__category
      人気のブランド
    .ichi__main__two__categorys
      .ichi__main__two__categorys__list
        シャネル
      .ichi__main__two__categorys__list
        ルイヴィトン
      .ichi__main__two__categorys__list
        シュプリーム
      .ichi__main__two__categorys__list
        ナイキ
  .ichi__main__three
    .ichi__main__three__box
      .ichi__main__three__box__top
        .ichi__main__three__box__top__title
          シャネル新着アイテム
        .ichi__main__three__box__top__more
          もっと見る　＞
      .ichi__main__three__box__items
        .ichi__main__three__box__items__item
        .ichi__main__three__box__items__item
        .ichi__main__three__box__items__item
        .ichi__main__three__box__items__item
        .ichi__main__three__box__items__item
      .ichi__main__three__box__items
        .ichi__main__three__box__items__item
        .ichi__main__three__box__items__item
        .ichi__main__three__box__items__item
        .ichi__main__three__box__items__item
        .ichi__main__three__box__items__item
    .ichi__main__three__box
      .ichi__main__three__box__top
        .ichi__main__three__box__top__title
          ルイヴィトン新着アイテム
        .ichi__main__three__box__top__more
          もっと見る　＞
      .ichi__main__three__box__items
        .ichi__main__three__box__items__item
        .ichi__main__three__box__items__item
        .ichi__main__three__box__items__item
        .ichi__main__three__box__items__item
        .ichi__main__three__box__items__item
      .ichi__main__three__box__items
        .ichi__main__three__box__items__item
        .ichi__main__three__box__items__item
        .ichi__main__three__box__items__item
        .ichi__main__three__box__items__item
        .ichi__main__three__box__items__item
    .ichi__main__three__box
      .ichi__main__three__box__top
        .ichi__main__three__box__top__title
          シュプリーム新着アイテム
        .ichi__main__three__box__top__more
          もっと見る　＞
      .ichi__main__three__box__items
        .ichi__main__three__box__items__item
        .ichi__main__three__box__items__item
        .ichi__main__three__box__items__item
        .ichi__main__three__box__items__item
        .ichi__main__three__box__items__item
      .ichi__main__three__box__items
        .ichi__main__three__box__items__item
        .ichi__main__three__box__items__item
        .ichi__main__three__box__items__item
        .ichi__main__three__box__items__item
        .ichi__main__three__box__items__item
    .ichi__main__three__box
      .ichi__main__three__box__top
        .ichi__main__three__box__top__title
          ナイキ新着アイテム
        .ichi__main__three__box__top__more
          もっと見る　＞
      .ichi__main__three__box__items
        .ichi__main__three__box__items__item
        .ichi__main__three__box__items__item
        .ichi__main__three__box__items__item
        .ichi__main__three__box__items__item
        .ichi__main__three__box__items__item
      .ichi__main__three__box__items
        .ichi__main__three__box__items__item
        .ichi__main__three__box__items__item
        .ichi__main__three__box__items__item
        .ichi__main__three__box__items__item
        .ichi__main__three__box__items__item

  