.ichi__edit__item__image {
  height: 115px;
  width: 125px;
}

.ichi__edit__item__pre {
  display: flex;
  justify-content: start;

}

.ichi__edit__item__images {
  height: 124px;
  width: 124px;
}

.ichi__space {
  height: 150px;
}