.ichi__main__four {
  background-image: url("download_app.jpg");
  background-size: 1440px 260px;
  height: 260px;
  width: 750px;
  height: 260px;
  padding: 0 345px;
  display: flex;
  justify-content: space-between;
  &__box {
    width: 420px;
    height: 260px;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    &__top {
      color: white;
      font-size: 24px;
      font-weight: 600;
      margin-bottom: 15px;
      height: 24px;
    }
    &__center {
      color: white;
      font-size: 35px;
      margin-bottom: 20px;
    }
    &__bottom {
      display: flex;
      align-items: center;
      width: 420px;
      height: 68px;
      &__mercari {
        height: 68px;
        width: 68px;
        margin-right: 20px;
      }
      &__apple {
        width: 152px;
      }
      &__google {
        width: 144px;
      }
    }
  }
  &__iphon {
    width: 300px;
    height: 260px;
  }
}

.ichi__mecari__image {
  width: 68px;
  height: 68px;
}

.ichi__iphon__image {
  width: 300px;
  height: 260px;
}