.haya-footer{
  height: 140px;
  width: 456px;
  margin: 0 auto;
  padding: 40px 0;
  text-align: center;
}

.haya-pura{
  font-size: 12px;
}
.haya-meru{
  display: block;
  color: #333;
  margin: 40px auto 0;
}

.haya-2019{
  font-size: 13px;
}