.haya-cre-main {
  height: 850px;
}
.haya-cre__main {
  display: block;
  height: 600px;
}
.haya-cre__main__1 {
  width: 700px;
  margin: 0 auto;
  height: 600px;
  background-color: white;
}
.haya-address-from {
  padding: 24px 16px 40px;
  height: 979px;
  margin: 0 150px 0 150px;
}
.haya-signup-card-list {
  margin: 10px 0 0 0;
}
.haya-cre-image {
  display: inline;
}
.hayaselect-default {
  width: 29%;
  height: 50px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  line-height: 1.5;
  font-size: 16px;
  margin: 8px 0 0;
  display: inline;
}
.select-wrap.half {
  display: inline;
}
.haya-field-cre {
  height: 70px;
  width: 343px;
  margin: 24px 0 0;
}
.progress-status_bar__3 {
  position: absolute;
  left: 50%;
  top: 25px;
  bottom: 5px;
  display: block;
  width: 100px;
  height: 2px;
  background: red;
  z-index: 10;
}
