%footer
  .ichi__footer
    .ichi__footer__top
      .ichi__footer__top__own
        .ichi__footer__top__own__title
          メルカリについて
        .ichi__footer__top__own__contents
          %ul
          %li 会社概要（運営会社）
          %li 採用情報
          %li プレスリリース
          %li 公式ブログ
          %li メルカリロゴ利用ガイドライン
        .ichi__footer__top__own__link
          .ichi__footer__top__own__link__twitter
            =fa_icon 'twitter', class: 'ichi__footer_icon'
          .ichi__footer__top__own__link__facebook
            =fa_icon 'facebook', class: 'ichi__footer_icon'
      .ichi__footer__top__two
        .ichi__footer__top__two__title
          ヘルプ＆ガイド
        .ichi__footer__top__two__contents
          %ul
          %li メルカリガイド
          %li らくらくメルカリ便
          %li ゆうゆうメルカリ便
          %li 大型メルカリ便
          %li 車体取引ガイド
          %li メルカリあんしん・あんぜん宣言！
          %li 偽ブランド品撲滅への取り組み
          %li メルカリボックス
      .ichi__footer__top__three
        .ichi__footer__top__three__title
          プライバシーと利用規約
        .ichi__footer__top__three__contents
          .ichi__footer__top__three__contents__left
            %ul
            %li プライバシーポリシー
            %li メルカリ利用規約
            %li あんしんスマホサポート制度に関する利用特約
            %li コンプライアンスポリシー
          .ichi__footer__top__three__contents__right
            %ul
            %li 個人データの安全管理に係る基本方針
            %li 特定商取引に関する表記
            %li 資金決済法に基づく表示
            %li 法令順守と犯罪抑止のために
      .ichi__footer__top__four
        .ichi__footer__top__four__title
          国
        .ichi__footer__top__four__contents
          %ul
          %li 日本
          %li United States
    .ichi__footer__bottom
      .ichi__footer__bottom__mercari
        =image_tag src="footer-mercari-logo.svg"
      .ichi__footer__bottom__2019
        © 2019 Mercari


